@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model TopicModel
@{
    Layout = "_Admin";
}
@if (Model.Id == 0)
{
    <h1>Додати</h1>
}
else
{
    <h1>Редагувати</h1>
}
<br />
@using (Html.BeginForm("Edit", "Topic", FormMethod.Post, new { @class = "form-horizontal" }))
{
    @Html.Hidden("Id", Model.Id)
    @Html.Hidden("ImagePath", Model.ImagePath)

    <input type="file" class="d-none" accept="image/*" id="imageUploader" />
    <input type="file" class="d-none" multiple accept="audio/mp3" id="fileUploader" />

    <fieldset>
        <div class="control-group">
            <label class="control-label" for="Url">
                Url
            </label>
            <div class="controls">
                @Html.TextBox("Url", Model.Url)
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="Title">
                Назва
            </label>
            <div class="controls">
                @Html.TextBox("Title", Model.Title)
            </div>
        </div>



        <div class="btn btn-primary mt-5" id="uploadImageBtn">Завантажити зображення</div>

        <div class="image">
            <img id="PreviewImage" src="@Model.ImagePath" />
        </div>

        <div class="">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Назва</th>
                        <th scope="col">
                            <div class="btn btn-primary" id="addFile">Додати файл</div>
                        </th>
                    </tr>
                </thead>
                <tbody id="TopicFilesList">
                    @{
                        int index = 0;
                    }
                    @foreach (var item in Model.TopicFiles)
                    {
                        <tr id="TopicFilesWrapper@(index)">
                            <td>
                                @Html.Hidden("TopicFiles[" + index + "].Id", item.Id)
                                @Html.Hidden("TopicFiles[" + index + "].Url", item.Url)
                                @Html.TextBox("TopicFiles[" + index + "].Name", item.Name)
                            </td>
                            <td>
                                <div class="btn btn-primary deleteItem">Видалити</div>
                            </td>
                        </tr>
                        index++;
                    }
                </tbody>
            </table>
        </div>
        <div class="form-actions mt-5">
            <button type="submit" class="btn btn-primary">
                @(Model.Id == 0 ? "Додати" : "Змінити")
            </button>
            <a class="btn btn-link" asp-area="" asp-controller="Topic" asp-action="Index">Скасувати</a>
        </div>
    </fieldset>
}
@section Scripts {
    <script src="/js/jqueryui/jquery-ui.min.js"></script>
    <script src="/js/blueimp-file-upload/js/jquery.fileupload.min.js"></script>
    <script src="/js/admin/topic/edit.js"></script>
}
